@font-face {
  font-family: "cera-pro-reg";
  src: url(../fonts1/CeraPro-Regular.ttf);
}
@font-face {
  font-family: "cera-pro-med";
  src: url(../fonts1/CeraPro-Medium.ttf);
}
@font-face {
  font-family: "cera-pro-bold";
  src: url(../fonts1/CeraPro-Bold.ttf);
}

html {
  font-family: "cera-pro-reg";
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.form-container {
  max-width: 300px;
  margin: 30px auto;
  padding: 0 16px;
}

h1 {
  font-family: "cera-pro-med";
  font-size: 20px;
  text-align: center;
  margin: 52px 0 40px;
}

.reg-text {
  font-size: 13px;
  margin-bottom: 14px;
}

.text-divider {
  display: inline-block;
  width: 1px;
  height: 16px;
  background-color: #3d3d3d;
}

.colored-text {
  color: #46a358;
}

input[type="text"],
input[type="password"],
input[type="email"] {
  width: 100%;
  padding: 12px 14px;
  margin-bottom: 16px;
  border: 1px solid #eaeaea;
}

input[type="submit"],
button {
  font-family: "cera-pro-bold";
  color: #fff;
  width: 100%;
  padding: 16px 0 14px;
  background-color: #46a358;
  border-radius: 5px;
  border: none;
  margin-bottom: 36px;
}

.soc-reg button {
  background-color: #fff;
  color: #727272;
  border: 1px solid #eaeaea;
}

.soc-reg img {
  vertical-align: bottom;
  margin-right: 9px;
}

.line-label {
  text-align: center;
  margin-bottom: 28px;
  font-family: "cera-pro-reg";
  font-size: 13px;
}

.line-label span {
  display: inline-block;
  background-color: #eaeaea;
  width: 82px;
  height: 1px;
  vertical-align: middle;
}

.colored-line {
  height: 10px;
  background-color: #46a358;
}
