
body {
position: absolute;
width: 500px;
height: 656px;
left: 0px;
top: 0px;

background: #FFFFFF;


position: absolute;
width: 18px;
height: 18px;
left: 469px;
top: 13px;

}
h1 {

position: absolute;
width: 52px;
height: 16px;
left: 172px;
top: 52px;

font-family: 'Cera Pro';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 16px;
color: #3D3D3D;

}

h2 {
 
position: absolute;
width: 78px;
height: 16px;
left: 251px;
top: 52px;

font-family: 'Cera Pro';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 16px;
color: #46A358;


}
.I {
    

position: absolute;
width: 5px;
height: 16px;
left: 236px;
top: 52px;

font-family: 'Cera Pro';
font-style: normal;
font-weight: 250;
font-size: 18px;
line-height: 16px;


color: #3D3D3D;


}
h3 {

position: absolute;
width: 300px;
height: 16px;
left: 100px;
top: 108px;

font-family: 'Cera Pro';
font-style: normal;
font-weight: 500;
font-size: 14px;
}

.usn {


position: absolute;
width: 300px;
height: 40px;
left: 100px;
top: 138px;



}
#Username {
    

box-sizing: border-box;

position: absolute;
width: 300px;
height: 40px;
left: 0px;
top: 0px;

border: 1px solid #EAEAEA;
border-radius: 5px;

}

.eml {


position: absolute;
width: 300px;
height: 40px;
left: 100px;
top: 194px;


}
#Email {
    /* Rectangle 55 */

box-sizing: border-box;

position: absolute;
width: 300px;
height: 40px;
left: 0px;
top: 0px;

border: 1px solid #EAEAEA;
border-radius: 5px;

}
.psw {
    

position: absolute;
width: 300px;
height: 40px;
left: 100px;
top: 250px;


}
#Password {
    /* Rectangle 50 */

box-sizing: border-box;

position: absolute;
width: 300px;
height: 40px;
left: 0px;
top: 0px;

border: 1px solid #EAEAEA;
border-radius: 5px;

}

.psw2 {
   

position: absolute;
width: 300px;
height: 40px;
left: 100px;
top: 306px;


}
#Password2 {
   


width: 300px;
height: 40px;
left: 100px;
top: 306px;


}

.reg {
   

position: absolute;
width: 300px;
height: 45px;
left: 100px;
top: 387px;
background: #46A358;
border-radius: 5px;




font-family: 'Cera Pro';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 16px;
/* identical to box height, or 100% */

color: #FFFFFF;



}


h5 {
  

position: absolute;
width: 300px;
height: 16px;
left: 100px;
top: 468px; 





}


.a1 {
   

position: absolute;
width: 300px;
height: 40px;
left: 100px;
top: 511px;


}

.a2 {
    

position: absolute;
width: 300px;
height: 40px;
left: 100px;
top: 566px;


}
.line {
    

position: absolute;
width: 500px;
height: 10px;
left: 0px;
top: 646px;

background: #46A358;

}